.center {text-align: center; 
    margin-top: 120px;
    margin-bottom: 80px;
    
} 

.center span {width: 270px; 
    height: 270px; 
    background-color: #fff; 

    border-radius: 50%; 
    text-align: center; 
    line-height: 700%; 
    display: inline-block; 
    border: 5px solid black;
    
    color: rgba(0,0,0,0.7);
    font-family: ariblk;
    font-size: 1.1rem;
}